@font-face {
  font-family: "cf1";
  src: url(Jaoren.ttf) format("truetype");
}

@font-face {
  font-family: "cf2";
  src: url(StampyLight.ttf) format("truetype");
}

@font-face {
  font-family: "cf3";
  src: url(revertro.ttf) format("truetype");
}

@font-face {
  font-family: "halovidgame";
  src: url(HALO____.TTF) format("truetype");
}

@font-face {
  font-family: "joystix";
  src: url(joystix\ monospace.otf) format("opentype");
}

@font-face {
  font-family: "home";
  src: url(Jaoren.ttf) format("truetype");
}

@font-face {
  font-family: "cvogue";
  src: url(classy-vogue.zip) format("opentype");
}

@font-face {
  font-family: "vogue";
  src: url(vogue.zip) format("truetype");
}

.header {
  background-color: black;
  padding: 30px 50px;
  color: aliceblue;
  text-align: center;
}

.suade {
  color: white;
  font-family: "vogue";
}

.nav-container {
  background-color: #333;
  padding: 10px;
  position: relative;
  display: grid;
  place-items: center;
}

.bmenu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.burger-line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display inline for larger screens */
  justify-content: flex-end;
}

.nav-menu li {
  margin: 0 10px;
  
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
}

/* Mobile styles */
@media (max-width: 390px) and (max-height: 844px) {
  .menu {
    display: block; /* Show the menu button in mobile view */
  }

  .nav-container {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
  }

  .nav-menu {
    display: none; /* Hide the menu by default in mobile view */
    flex-direction: column;
    position: absolute;
    top: 40px; /* Adjust based on your design */
    right: 10px;
    background-color: #333;
    width: 200px;
  }

  .nav-menu.open {
    display: flex; /* Show the menu when the "open" class is added */
  }

  .nav-menu li {
    margin: 10px 0;
  }

}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: 20px; /* Space between items */
  padding: 20px
}

.insta-pic-container {
  margin-top: auto;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%; /* Adjusted to make it responsive */
  max-width: 500px; /* Limit maximum width for larger screens */
  height: 400px;
}

.insta-pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2 {
  font-size: 44px;
  text-align: center;
  color: white;
  margin-top: 250px;
  margin-bottom: 30px;
  font-family: "vogue" /* Ensure consistent font-family */
}

.sub {
  font-size: 28px;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.insta-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin-top: 226px;
  font-size: 20px;
  padding: 20px 25px;
  background-color: transparent;
  color: white;
  border: solid 1.5px white;
  font-weight: lighter;
}

.the-beginning-container {
  margin-top: auto;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%; /* Adjusted to make it responsive */
  max-width: 500px; /* Limit maximum width for larger screens */
  height: 400px;
}

.the-beginning img{
  margin-top: 50pxs;
  
  
}
